<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>coal0</Title>
      <Shortcut>coal0</Shortcut>
      <Description>COALESCE zero</Description>
      <Author>Portfolio</Author>
      <SnippetTypes>
        <SnippetType>SurroundsWith</SnippetType>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Code Language="SQL">
        <![CDATA[COALESCE($selected$, 0)]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>