<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
  <CodeSnippet Format="1.0.0">
    <Header>
      <Title>ins</Title>
      <Shortcut>ins</Shortcut>
      <Description>Insert Into</Description>
      <Author>Portfolio</Author>
      <SnippetTypes>
        <SnippetType>Expansion</SnippetType>
      </SnippetTypes>
    </Header>
    <Snippet>
      <Declarations>
        <Literal>
          <ID>tablename</ID>
          <ToolTip>Table name</ToolTip>
          <Default>TableName</Default>
        </Literal>
        <Literal>
          <ID>columns</ID>
          <ToolTip>Column names</ToolTip>
          <Default>Column1, Column2</Default>
        </Literal>
        <Literal>
          <ID>values</ID>
          <ToolTip>Values</ToolTip>
          <Default>Value1, Value2</Default>
        </Literal>
      </Declarations>
      <Code Language="SQL">
        <![CDATA[INSERT INTO $tablename$ ($columns$)
VALUES ($values$)]]>
      </Code>
    </Snippet>
  </CodeSnippet>
</CodeSnippets>
